body {
    background: #B9BABB;
    font-family: "PingFang TC","Heiti TC","Noto Sans TC","Microsoft JhengHei";
    font-size: 18px;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
 }

/* 以下為統一規格的樣式 */

.content{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 20px;
    display: none;
}

.content h1{
    font-size: 30px;
}

.content h3{
    font-size: 22px;
}

.content img{
    width: 250px;
    margin: 15px;
}

.content button{
    margin: 15px;
}

/* 以下為特定頁面樣式 */

#main{
    padding-top:20%;
    background-image: url("../img/maplestory.png");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center center;
}

#work_poster{
    width: 70%;
}

#work_poster span{
    border-left: 3px solid #888888;
    border-right: 3px solid #888888;
    padding: 0px 10px 0px 10px;
}

#work_poster img{
    width: 105px;
    margin: 0 auto;
}

#work_poster .img-thumbnail{
    margin-right: 15px;
	margin-top: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#contact img, #about_me img{
    display: inline-block;
}

/* 以下為【其他】的樣式 */

.about_panel{
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

#about_me img{
    width: 200px;
    margin: 30px;
}

#about_web .about_panel{
    width: 600px;
}

#about_web .panel-default{
    background-color: #DCDCDC;
}

/* 以下為響應式樣式 */

@media(max-width:768px){

    .content{
        padding-top: 70px;
    }

    .content img, #about_me img{
        width: 150px;
    }

    #main{
        padding-top:80%;
    }

    #work_poster{
        width: 90%;
        padding-bottom: 40px;
    }

    #work_poster .img-thumbnail{
        margin-right: 10px;
        margin-left: 10px;
    	margin-top: 15px;
    	box-shadow: 0 1px 2px rgba(0,0,0,.6);
    }

    .about_panel, #about_web .about_panel{
        width: 90%;
    }
}
